In [86]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [87]:
import warnings
warnings.filterwarnings('ignore')

In [88]:
df=pd.read_excel("77countries.xlsx")

In [89]:
df.head()

,continent,location,total_deaths,R0,total_cases,new_cases,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
0,North America,United States,185744,2.465409,6114406,38754,331002647,35.608,38.3,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86
1,South America,Brazil,123780,2.000668,3997865,46934,212559409,25.040,33.5,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,2.20,75.88
2,Asia,India,67376,1.731947,3853406,83883,1380004385,450.419,28.2,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,0.53,69.66
3,North America,Mexico,65816,1.800513,610957,4921,128932753,66.444,29.3,6.857,4.321,17336.469,2.5,152.783,13.06,6.9,21.4,1.38,75.05
4,Europe,United Kingdom,41514,2.042228,338676,1508,67886004,272.898,40.8,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32

In [90]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   continent                   77 non-null     object
 1   location                    77 non-null     object
 2   total_deaths                77 non-null     int64
 3   R0                          77 non-null     float64
 4   total_cases                 77 non-null     int64
 5   new_cases                   77 non-null     int64
 6   population                  77 non-null     int64
 7   population_density          77 non-null     float64
 8   median_age                  77 non-null     float64
 9   aged_65_older               77 non-null     float64
 10  aged_70_older               76 non-null     float64
 11  gdp_per_capita              77 non-null     float64
 12  extreme_poverty             58 non-null     float64
 13  cardiovasc_death_rate       77 non-null     float64
 14  diabetes_prevalence         77 non-null     float64
 15  female_smokers              72 non-null     float64
 16  male_smokers                70 non-null     float64
 17  hospital_beds_per_thousand  75 non-null     float64
 18  life_expectancy             77 non-null     float64
dtypes: float64(13), int64(4), object(2)
memory usage: 11.6+ KB
None

In [91]:
df.dropna(inplace=True)

In [92]:
df.shape

(51, 19)

In [93]:
df_numerical=df.iloc[:,2:]

In [94]:
df_numerical.shape

(51, 17)

### Using only Elasticnet regression

In [95]:
df_numerical.head()

,total_deaths,R0,total_cases,new_cases,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
0,185744,2.465409,6114406,38754,331002647,35.608,38.3,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86
1,123780,2.000668,3997865,46934,212559409,25.040,33.5,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,2.20,75.88
2,67376,1.731947,3853406,83883,1380004385,450.419,28.2,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,0.53,69.66
3,65816,1.800513,610957,4921,128932753,66.444,29.3,6.857,4.321,17336.469,2.5,152.783,13.06,6.9,21.4,1.38,75.05
4,41514,2.042228,338676,1508,67886004,272.898,40.8,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32

In [96]:
df_numerical.drop(['total_deaths','new_cases'],axis=1,inplace=True)

In [97]:

y_train_reg = df_numerical['total_cases']
x_train_reg = df_numerical.drop('total_cases',axis=1)
x_test=x_train_reg.iloc[2:3,:]

In [98]:
x_train_reg.head()

,R0,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
0,2.465409,331002647,35.608,38.3,15.413,9.732,54225.446,1.2,151.089,10.79,19.1,24.6,2.77,78.86
1,2.000668,212559409,25.040,33.5,8.552,5.060,14103.452,3.4,177.961,8.11,10.1,17.9,2.20,75.88
2,1.731947,1380004385,450.419,28.2,5.989,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,0.53,69.66
3,1.800513,128932753,66.444,29.3,6.857,4.321,17336.469,2.5,152.783,13.06,6.9,21.4,1.38,75.05
4,2.042228,67886004,272.898,40.8,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32

In [99]:
x_test

,R0,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
2,1.731947,1380004385,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,0.53,69.66

In [100]:
from sklearn.linear_model import ElasticNet

en_reg = ElasticNet(random_state=0)
en_reg.fit(x_train_reg,y_train_reg)

en_reg.predict(x_test)

array([2909776.46456206])

In [101]:
def dictionary(df,location):
    df_location=df[df['location']==location]
    df_location=df_location.iloc[:,3:]
    df_location.drop(['total_cases','new_cases'],axis=1,inplace=True)
    df_location_dict=df_location.to_dict('records')
    
    return df_location_dict

In [102]:
location="India"
df_location_dict=dictionary(df,location)

In [103]:
df_location_dict

[{'R0': 1.73194668151632,
  'population': 1380004385,
  'population_density': 450.419,
  'median_age': 28.2,
  'aged_65_older': 5.989,
  'aged_70_older': 3.414,
  'gdp_per_capita': 6426.674,
  'extreme_poverty': 21.2,
  'cardiovasc_death_rate': 282.28,
  'diabetes_prevalence': 10.39,
  'female_smokers': 1.9,
  'male_smokers': 20.6,
  'hospital_beds_per_thousand': 0.53,
  'life_expectancy': 69.66}]

In [104]:
en_reg.intercept_

4011607.257482387

In [105]:
en_reg.coef_

array([-3.24330581e+04,  1.58610257e-03,  2.97057376e+01,  4.82869323e+04,
       -5.88003302e+04, -1.56766303e+04,  2.85306417e+01,  4.54308318e+02,
       -8.28876500e+01,  9.58967591e+04,  2.62850785e+04, -1.57114054e+04,
       -3.71511145e+04, -7.28745072e+04])

In [106]:
confirmed_old=en_reg.intercept_
k=0
for i in df_location_dict[0].values():
#     print(k)
#     print(i)
#     print(en_reg.coef_[k])
    confirmed_old=confirmed_old+(i*en_reg.coef_[k])
    k=k+1

In [107]:
confirmed_old

2909776.4645620612

In [ ]:
original total_cases=3853406

In [110]:
3853406-2909776

943630

In [108]:
def simulation(parameter,change,by,df_location_dict,confirmed_old):
    df_location_dict_copy=df_location_dict.copy()
    if change=='increase':
        df_location_dict_copy[parameter]=int(df_location_dict[parameter]+(by/100)*df_location_dict[parameter])
    else:
        df_location_dict_copy[parameter]=int(df_location_dict[parameter]-(by/100)*df_location_dict[parameter])
     
    confirmed_new=en_reg.intercept_
    k=0
    for i in df_location_dict_copy.values():
        confirmed_new=confirmed_new+(i*en_reg.coef_[k])
        k=k+1
    if confirmed_new>confirmed_old:
        c="increased"
    else:
        c="decreased"
    
    confirmed_change=round(((abs(confirmed_new-confirmed_old)/confirmed_old)*100),2)
    print("If " +parameter+" "+ change+" by "+ str(by) +"% i.e. from " + str(df_location_dict[parameter]) +" to "+str(df_location_dict_copy[parameter])+ ", then confirmed cases will be "+ c +" by "+str(confirmed_change)+"%")

In [109]:
parameter='diabetes_prevalence'
change='increase'
by=10
simulation(parameter,change,by,df_location_dict[0],confirmed_old)

If diabetes_prevalence increase by 10% i.e. from 10.39 to 11, then confirmed cases will be increased by 2.01%